{% extends ('base.html.twig') %}
    {% block body %}





        <section id="content">

            <div class="content-wrap">
                <div class="container clearfix">
                    <div class="row">
                        <div="col-12">
                            <h1>Nous  contacter</h1>
                            {{ form(contactForm) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form_start(formcom) }}
                            <form  action="include/form.php" method="post" enctype="multipart/form-data">
                                <div class="form-process"></div>
                                <div class="col-12 form-group">
                                    <div class="col-md-6 form-group">
                                        <label>Pseudo:</label>
                                        {{ form_widget (formcom.Pseudo) }}
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Email:</label>
                                        {{ form_widget (formcom.Email) }}
                                    </div>
                                    {# Tu as plusieur manière de faire des formulaires en twig, je te laisse te renseigner#}
                                    {#  https://symfony.com/doc/4.1/reference/forms/twig_reference.html#}
                                    {#            <div class="">#}
                                    {#                {{ form_label(ContactForm.Pseudo) }}#}
                                    {#            </div>#}
                                    {#            <div class="fadeIn second">#}
                                    {#                {{ form_widget(ContactForm.telephone) }}#}
                                    {#            </div>#}
                                    {#            <div class="erreur">#}
                                    {#                {{ form_errors(ContactForm.telephone) }}#}
                                    {#            </div>#}
                                    {{ form_widget (formcom.Content) }}
                                    {#Deux façon de mettre un boutton submit, soit dans le CommentaireType ou ici, a toi de choisir#}
                                    {# <button class="btn btn-primary mb-3" type="submit">Valider</button> #}
                                    {{ form_end(formcom) }}
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            {% for comm in commentaires %}

                                {{ comm.pseudo }}
                                {{ comm.DateTime|date("d/m/Y")  }}
                                {{ comm.content|raw }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}
