{% extends ('base.html.twig') %}
    {% block body %}
        <!-- Page Title
		============================================= -->
		<section id="page-blog" class="img-bd-music ">

			<div class="container clearfix " >
				<h1 class="center text-white titre-bd">Music</h1>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Post Content
					============================================= -->
					<div class="postcontent nobottommargin clearfix">

						{% for music in musics %}
							<h3>{{music.titre}}</h3>

							{{ music.embed|raw }}
							<div class="divider divider-center"><i class="icon-cloud"></i></div>
						{% endfor %}


					</div><!-- .postcontent end -->
					<!-- Sidebar
					============================================= -->
					<section>
						<div class="sidebar nobottommargin col_last">
							<div class="sidebar-widgets-wrap">
								<div class="widget clearfix">
									<h4>Prochain concert</h4>
									{% for nextconcert in nextconcerts %}
										<div class="spost clearfix">
											<div class="entry-image">
												<img src="{{ asset("imagesArticles/" ~ nextconcert.image) }}" class="petiteImage" alt="...">
											</div>
											<div class="entry-c">
												<div class="entry-title">
													<h4><a href="{{ path('liveagenda') }}">{{ nextconcert.titre }}</a></h4>
												</div>
												<div class="entry-title">
													<h4><a href="{{ path('liveagenda') }}"><img src="images/icons/map-icon.png"
																		 style="width: 1em">{{ nextconcert.lieu }}</a></h4>
												</div>
												<ul class="entry-meta">
													<li>{{ nextconcert.date|format_datetime('full','none',locale='fr') }}</li>
												</ul>
											</div>
										</div>
									{% endfor %}
								</div>
								<div class="widget clearfix">
									<h4>Dernier articles</h4>
									<div id="post-list-footer">
										{% for article in articles %}
											<div class="spost clearfix">
												<div class="entry-image">
													<img src="{{ asset("imagesArticles/" ~ article.image) }}" class="petiteImage" alt="..."  >
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="{{ path('news') }}">{{ article.titre }}</a></h4>
													</div>
													<ul class="entry-meta">
														<li>{{ article.date|format_datetime('full','none',locale='fr') }}</li>
													</ul>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
								<div class="widget clearfix">
									<h4>Dernière vidéo</h4>
									{% for lastvideo in lastvideos %}
										{{ lastvideo.embed|raw }}
									{% endfor %}
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section><!-- #content end -->
	{% endblock %}
