/* Body */

#content{
    background-color:#1a1a1a;
}

/*#primary-menu ul li > a {*/

/*    font-family: ' Montserrat Subrayada', 'Finger Paint', cursive;*/

/*}*/

#primary-menu ul li > a {
    display: block;
    line-height: 22px;
    padding: 39px 15px;
    color: #fff;
    /*text-shadow: 0px 0px 2px rgb(255,255,255);*/
    font-weight: bold;
    font-size: 29px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Finger Paint' , sans-serif;
    -webkit-transition: margin .4s ease, padding .4s ease;
    -o-transition: margin .4s ease, padding .4s ease;
    transition: margin .4s ease, padding .4s ease;
}

p{
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px 0;
    font-family: 'Raleway', sans-serif;
}
label {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 10px;
    cursor: pointer;
}
h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) { color: #d57f12; }

a {
    text-decoration: none !important;
    color: #d57f12;
}


 /* ====================================== message ========================================*/
.style-msg, .style-msg2 {
    position: relative;
    display: block;
    color: #444;
    border-left: 4px solid rgba(0,0,0,0.1);
     margin-bottom: 0px;
}
.successmsg {
    background: #83f678;
    color: #184B21;
}

/* ====================================== sidebar =========================================*/
.spost .entry-title h4 a, .mpost .entry-title h4 a {
    color: #ffffff;
}
/* ====================================== Accueil ======================================== */

.présentation_kat h3{
    font-size:44px;
}

.parallax span{
    font-size: 22px;
    font-weight: 300;
}

.présentation_kat{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    /*text-shadow: 0px 0px 5px rgb(255, 255, 255);*/
}

.entry-image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

@media screen and (max-width: 974px) {
    #page-title.page-title-parallax{
        display:none;
    }

    #page-title-mobile.page-title-parallax-mobile{
        width:100%;
        height:683px;
    }

    #page-title-mobile.page-title-parallax-mobile h1 {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2px;
        color: rgba(255,255,255,0.9) !important;
    }

    #page-title-mobile.page-title-parallax-mobile.page-title-right {
        text-align: right;
    }

    #page-title-mobile.page-title-parallax-mobile span {
        font-size: 22px;
    }
    #page-title-mobile.page-title-dark span {
        color: rgba(255,255,255,0.7);
    }
    #page-title-mobile span {
        display: block;
        margin-top: 10px;
        font-weight: 300;
        color: #777;
        font-size: 18px;
    }
    .parallax{
        display: none;
    }

    .parallax-mobile{
        width: 100%;
        height:683px;
    }

}

@media screen and (min-width: 975px) {

    #page-title{
        height:683px;
    }

    #header.transparent-header + #page-title.page-title-parallax{
        background-color:black;
        width:100%;
    }

    #page-title-mobile.page-title-parallax-mobile{
        display:none;
    }

    .mega-menu-content{
        display:none;
    }

    .parallax-mobile{
        display: none;
    }

    .parallax{
        width: 100%;
        height:683px;
    }

}
.bd-accueil{
    /* The image used */
    background-image: url("images_kat/kat_background.jpg");
        /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 974px) {
    .bd-accueil {
        padding: 250px 0;
        background-image: url('images_kat/kat_background.jpg');
        background-size: cover;
        background-position: center center;
    }
}

/* ===================================================== Music ====================================== */

.img-bd-music{
    /* The image used */
    background-image: url("images_kat/kat.jpg");

    /* Set a specific height */
    height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* ===================================================== Video ====================================== */

.img-bd-video{
    /* The image used */
    background-image: url("images_kat/bd-video.jpg");

    /* Set a specific height */
    height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titre-bd {
    margin-top: 5em;
}

@media screen and (min-width: 975px) {
    #page-blog h1 {
        justify-content: center;
        padding-top: 0.5em;
        margin: 0;
        /* line-height: 1; */
        font-weight: 600;
        letter-spacing: 1px;
        color: #333;
        font-size: 150px;
        text-transform: uppercase;
    }
}
@media screen and (max-width: 974px) {
    #page-blog h1 {
        justify-content: center;
        padding-top: 1.2em;
        margin: 0;
        /* line-height: 1; */
        font-weight: 600;
        letter-spacing: 1px;
        color: #333;
        font-size: 50px;
        text-transform: uppercase;
    }
}





/* ================================================ Live Agenda =================================*/
.img-bd-live{
    /* The image used */
    background-image: url("images_kat/bd-live.jpg");

    /* Set a specific height */
    height: 450px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.p-presentation{
    color: #0b0b0b;
}
.cursor_none{
    cursor: default;
}
.entry-date{
    height:84px!important;
}
.entry_liveAgenda{
    min-height:351.5px;
}

/* ===================================================== News ====================================*/
.img-bd-news{
    /* The image used */
    background-image: url("images_kat/bd-news.jpg");

    /* Set a specific height */
    height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img-top.image-menu{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.small-thumbs .entry-image img{
    border-radius: 0;
    border: solid 1px white;
    box-shadow: 1px 1px 3px #d57f12;
}

.entry-title h1{
    margin-bottom: 0px;
    color: #d57f12;
}

/*  ========================================== Article ===================================== */

.more-link {
    display: inline-block;
    border-bottom: 1px solid #d57f12;
    padding: 0 2px;
    font-family: 'Crete Round', serif;
    font-style: italic;
    text-decoration: none;
}
/*.articleImg{*/
/*    border-radius: 0;*/
/*    border: solid 1px white;*/
/*    box-shadow: 1px 1px 3px #eb9c4d;*/
/*}*/
.img-bd-article{
    /* The image used */
    background-image: url("images_kat/bd-article.jpg");

    /* Set a specific height */
    height: 150px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.comment-content .comment-author {
    margin-bottom: -10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.commentlist li {
    margin: 30px 0 30px 0px;
    color: #fff;
}

.comments-title{
    font-size: 36px;
}

.cardEvent{
    min-height: 346px;
}

.entry:after {
    /*content: '';*/
    /*position: relative;*/
    height: 0px;
    margin-top: 0px;
    /*background-color: #F5F5F5;*/
}

.commentlist {

    /*list-style: none;*/
    padding-bottom: 0px;
    margin: 0 0 00px;
    border-bottom: 0px solid #EEE;
}



