{% extends ('base.html.twig') %}
    {% block body %}


        <!-- Page Title
        ============================================= -->
        <section id="page-blog" class="img-bd-article">

        </section>
        <!-- Content
        ============================================= -->

        <section id="content">
            <div class="content-wrap">
                <div class="container clearfix">
                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin clearfix">
                        <div class="single-post nobottommargin">
                            <!-- Single Post
                            ============================================= -->
                            <div class="entry clearfix">
                                <!-- Entry Title
                                ============================================= -->
                                <div class="entry-title">
                                    <h1>{{ article.titre }}</h1>
                                </div><!-- .entry-title end -->
                                <h3>{{ article.SousTitre }}</h3>

                                <!-- Entry Meta
                                ============================================= -->
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> {{ article.date|format_datetime('full','none',locale='fr') }}</li>

                                </ul><!-- .entry-meta end -->

                                <!-- Entry Image
                                ============================================= -->
                                <div class="articleImg">
                                    <img src="{{ asset("imagesArticles/" ~ article.image) }}"
                                         alt="Blog Single">
                                </div><!-- .entry-image end -->

                                <!-- Entry Content
                                ============================================= -->
                                <div class="entry-content notopmargin">

                                    <p>{{ article.texte|raw }}</p>

                                </div>
                            </div><!-- .entry end -->


                            <div class="divider divider-rounded divider-right"><i class="icon-chat"></i></div>
                            <!-- Comments List
                            ============================================= -->
                            <h3 class="comments-title"><span>{{ countvalide|length }}</span>
                                Commentaires</h3>

                            {% for commentaireArticle in article.commentaireArticles %}
                            {% if commentaireArticle.valide == 1 %}
                            <ol class="commentlist clearfix">
                                <li class="comment even thread-even depth-1" id="li-comment-1">
                                    <div id="comment-1" class="comment-wrap clearfix mb-3">
                                        <div class="comment-meta">
                                            <div class="comment-author vcard">
                                                <span class="comment-avatar clearfix">
                                                    <script type="text/javascript"
                                                            language="javascript">document.write('' +
                                                            '<img class="avatar avatar-60 photo avatar-default" height="60" width="60" ' +
                                                            'src="{{ asset("images_kat/icon_commentaire/") }}' + Math.round((Math.random() * 8) + 1) + '.png" />');
                                                            </script>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="comment-content clearfix">
                                            <div class="comment-author">{{ commentaireArticle.pseudo }}<span>
                                                    <a title="Permalink to this comment">{{ commentaireArticle.createdAt|format_datetime('full','none',locale='fr') }}</a></span>
                                            </div>

                                            <p>{{ commentaireArticle.content|raw }}</p>

                                            <a class="comment-reply-link" href="#"><i class="icon-reply"></i></a>
                                        </div>
                                        <div class="clear  "></div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ol><!-- .commentlist end -->

                            <div class="divider divider-sm divider-rounded divider-center"><i class="icon-pencil"></i>
                            </div>

                            <!-- Comment Form
                            ============================================= -->


                            <div id="respond" class="clearfix">

                                <h3 class="comments-title">Laissez un <span>Commentaire</span></h3>

                                <form class="clearfix" action="#" method="post" id="commentform">
                                    {{ form_start(form) }}

                                    <div class="row">
                                        <div class="col-lg-4 ">
                                            {{ form_label(form.Pseudo) }}
                                            {{ form_widget(form.Pseudo) }}
                                        </div>
                                        <div class="col-lg-4 ">
                                            {{ form_label(form.Email) }}
                                            {{ form_widget(form.Email) }}
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-lg-12 mt-5 ">
                                            {{ form_widget(form.Content) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 mt-3 mr-5">
                                        <button name="submit" type="submit" id="submit-button" tabindex="5"
                                                value="Submit"
                                                class="button button-3d button-xlarge button-rounded button-amber ">
                                            Publier
                                        </button>
                                    </div>
                                    {{ form_end(form) }}
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar
                        ============================================= -->
                    <div class="sidebar nobottommargin col_last clearfix">
                        <div class="sidebar-widgets-wrap">
                            <div class="widget clearfix">
                                <div class="widget clearfix">
                                    <h3>Dernière musique</h3>
                                    {% for music in musics %}
                                        {{ music.embed|raw }}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="widget clearfix">
                                <h3>Prochain concert</h3>
                                {% for nextconcert in nextconcerts %}
                                    <div class="spost clearfix">
                                        <div class="entry-image">
                                            <img src="{{ asset("imagesArticles/" ~ nextconcert.image) }}"
                                                 class="petiteImage" alt="...">
                                        </div>
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4><a href="#">{{ nextconcert.titre }}</a></h4>
                                            </div>
                                            <div class="entry-title">
                                                <h4><img src="{{ asset("images/icons/map-icon-red.png") }}"
                                                         style="width: 1em">{{ nextconcert.lieu }}</h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li>{{ nextconcert.date|format_datetime('full','none',locale='fr') }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="widget clearfix">
                                <h3>Dernière vidéo</h3>
                                {% for lastvideo in lastvideos %}
                                    {{ lastvideo.embed|raw }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #content end -->
    {% endblock %}
