<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="author" content="SemiColonWeb"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Document stylesheets
            ============================================= -->
        {% block stylesheets %}

            <link rel="icon" type="image/png" href="{{ asset('images_kat/Logo_Kat.png') }}">
            <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("css/bootstrap.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("style.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("css/dark.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("css/font-icons.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("css/animate.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("css/magnific-popup.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("css/responsive.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("kat-style.css") }}" type="text/css"/>
            <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">

        {% endblock %}

        <!-- Document Title
        ============================================= -->
        {% block title %}

            <title>Kat-musik.com</title>

        {% endblock %}
    </head>

    <body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        {% block header %}
        <!-- Header
    ============================================= -->
        <header id="header" class="transparent-header full-header dark" data-sticky-class="not-dark">
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="{{ path('index') }}" class="standard-logo" data-dark-logo="{{ asset('images_kat/Logo_Kat.png') }}"><img src="{{ asset('images_kat/Logo_Kat1.png') }}" alt="Canvas Logo"></a>
                        <a href="{{ path('index') }}" class="retina-logo" data-dark-logo="{{ asset('images/logo-dark@2x.png') }}"><img src="{{ asset('images/logo@2x.png') }}" alt="Canvas Logo"></a>
                    </div><!-- #logo end -->
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu" class="not-dark">
                        <ul>
                            <li>
                                <a href="{{ path('index') }}">
                                    <div class="Menu-links">accueil</div>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('musik') }}">
                                    <div class="Menu-links">musiK</div>
                                </a>
                            </li>
                            <li class="mega-menu">
                                <a href="{{ path('video') }}">
                                    <div class="Menu-links">Vidéos</div>
                                </a>
                            </li>
                            <li class="mega-menu">
                                <a href="{{ path('news') }}">
                                    <div class="Menu-links">News</div>
                                </a>
                            </li>
                            <li class="mega-menu">
                                <a href="{{ path('liveagenda') }}">
                                    <div class="Menu-links">Live Agenda</div>
                                </a>
                            </li>
                            <li class="mega-menu">
                                <a href="#">
                                    <div class="Menu-links">ContaKt</div>
                                </a>
                            </li>
                            <li class="mega-menu">
                                <a href="#">
                                    <div class="Menu-links">BoutiK</div>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- #primary-menu end -->
                </div>
            </div>
        </header>
    </div>
    </body>
</html>
<!-- #header end -->
{% endblock %}
    {% for message in app.flashes('success') %}
        <div class="style-msg successmsg">
            <div class="sb-msg"><i class="icon-thumbs-up"></i><strong>Super !</strong>{{message}}</div>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    {% endfor %}
    {% for message in app.flashes('fail') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


    {% block body %}{% endblock %}
<footer>

</footer>

{% block javascripts %}
    <!-- Go To Top
============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="{{ asset('js/functions.js') }}"></script>

{% endblock %}

</body>


</html>
